<h1>Roofstock - Build wealth through real estate<a href="@Url.Action("Index", "Property")" title="Properties"></a></h1>
<nav id="pageNav" class="cf">
    <ul>
        <li><a href="@Url.Action("Properties", "Home")" title="properties">Properties</a></li>
    </ul>
</nav>